<!-- 
  <html>
    <head>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

      
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="registration">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="admin">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="byId">Emp By Id</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="cart">AddToCart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="logout">Log Out</a>
            </li>
          
        </ul>
        <!-- <form class="d-flex" role="search">
          <ul>
              <li class="nav-item" >
                  <a class="nav-link" href="#">Logout</a>
                </li>
      </ul>
        </form> -->
        <!-- <form class="d-flex" role="search">
          <mat-form-field class="example-full-width">
            <mat-select placeholder="Groceries">
              <mat-option routerLink="/vegetables">Vegetables</mat-option>
              <mat-option routerLink="/fruits">Fruits</mat-option>
              <mat-option routerLink="/home-needs">Home Needs</mat-option>
            </mat-select>
          </mat-form-field>
        </form> 

        <div class="container mt-3">
                                              
          <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
            Products
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item"  routerLink="products">Groceries</a></li>
              <li><a class="dropdown-item"  routerLink="veg">vegetables</a></li>
              <li><a class="dropdown-item" routerLink="beauty">Health & Glow</a></li>
              <li><a class="dropdown-item" routerLink="fruits">Fruits</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  </body>
  </html> -->


<!-- 
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="login"><i class="bi bi-person"></i> Login</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="registration"><i class="bi bi-person-plus"></i> Register</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="products"><i class="bi bi-cart-plus"></i> Products</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="admin"><i class="bi bi-person-badge"></i> Admin</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="byId"><i class="bi bi-person-lines-fill"></i> Emp By Id</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="cart"><i class="bi bi-cart-plus"></i> AddToCart</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="logout"><i class="bi bi-box-arrow-right"></i> Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  </body>
  </html> -->





<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top"  >
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="https://www.onlinelogomaker.com/blog/wp-content/uploads/2017/06/shopping-online.jpg" style="height: 55px;width: 120px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
        
          <a class="nav-link active" aria-current="page" routerLink="home"  style="padding-left: 250px;">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="about" style="padding-left: 35px;">about</a>
        </li>
        
       
        <div class="dropdown" style="padding-left: 35px; margin-top: 10px;">
          <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Products
          </button>
     
          <ul class="dropdown-menu">
            <li><a class="dropdown-item"  routerLink="products">Groceries</a></li>
            <li><a class="dropdown-item"  routerLink="veg">vegetables</a></li>
            <li><a class="dropdown-item" routerLink="beauty">Health & Glow</a></li>
            <li><a class="dropdown-item" routerLink="fruits">Fruits</a></li>
          </ul>
        </div>
        
        <li class="nav-item">
         
          <a class="nav-link" routerLink="login" style="padding-left: 35px;"><i class="bi bi-person"></i> Login</a>
        </li>
        <li class="nav-item">
        
          <a class="nav-link" routerLink="registration" style="padding-left: 35px;"><i class="bi bi-person-plus"></i> Register</a>
        </li>
        <li class="nav-item" style="padding-left: 150px;">
        
          <a class="nav-link" routerLink="cart"  style="padding-left:150px;"><i class="bi bi-cart-plus"></i> AddToCart</a>
        </li>
        <li class="nav-item">
         
          <a class="nav-link" routerLink="logout" style="padding-left:70px;"><i class="bi bi-box-arrow-right"></i> Log Out</a>
        </li>  
    </ul>
    </div>
  </div>
</nav> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Responsive Navbar</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
 
</head>
<body >
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="https://www.onlinelogomaker.com/blog/wp-content/uploads/2017/06/shopping-online.jpg" style="height: 55px;width: 120px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" style="padding-left: 250px;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" style="padding-left: 35px;">About</a>
        </li>
        <div class="dropdown" style="padding-left: 35px; margin-top: 10px;">
          <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Products
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="products">Groceries</a></li>
            <li><a class="dropdown-item" routerLink="veg">Vegetables</a></li>
            <li><a class="dropdown-item" routerLink="beauty">Health & Glow</a></li>
            <li><a class="dropdown-item" routerLink="fruits">Fruits</a></li>
          </ul>
        </div>
        <li class="nav-item">
          <a class="nav-link" routerLink="cart" style="padding-left:150px;"><i class="bi bi-cart-plus"></i> Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="registration" style="padding-left: 35px;">register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="toggleLogin()" style="padding-left: 35px;">
            <i *ngIf="!service.isLoggedIn" class="bi bi-person"></i>
            <i *ngIf="service.isLoggedIn" class="bi bi-box-arrow-right"></i>
            {{ service.isLoggedIn ? 'Login' : 'Logout' }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
  
